<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <%- include layouts/header %>
    <div class="container">
      <% datas.forEach(data => { %>
      <div class="collection">
      <a href="/group/<%= data.id %>" class="collection-item"><span class="badge">Created By <%= data.User.username %></span><%= data.group_name %></a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
