<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layouts/header%>
    <style>
    .margin-minus{
      margin-bottom: -25px;

    }
    </style>
  </head>
  <body>
  <div class="container">
    <h5>Welcome, <%= username %></h5>
    <a href='/logout' class="waves-effect waves-light btn">Logout</a>
    <a href='/menu/edit' class="waves-effect waves-light btn">Profile</a>
    <div class="col s6">

    <% datas.forEach(data => { %>
      <div class="row">
        <div class="col s8 margin-minus">
          <div class="collection">
          <a href="/post/<%= data.id %>" class="collection-item">
            <span class="badge">
              Created By <%= data.User.username %>
            </span>
            <%= data.group_name %>
          </a>
          </div>
        </div>
        <div class="col s1 margin-minus">
          <%if(username == data.User.username){%>
          <a class='collection-item' href="group/delete/<%=data.id%>">X</a>
          <%}%>
        </div>
      </div>
    <% }) %>
    <div class="col s8 margin-minus collection" id="newGroup"></div>
  <form id="groupForm" action="/group/create" method="POST" class="col s6 offset-s4">
    <div class="row">
      <div class="input-field col s6 ">
        <input placeholder="Group Name" type="text" name="group_name" id="group_name" class="validate">
        <input type="hidden" id="group_id" value="<%= group_id %>">
        <input type="hidden" id="username" value="<%= username %>">
        <button class="btn waves-effect waves-light" type="submit" name="action">Create Group</button>
      </div>
    </div>
  </form>
  </div>
  </body>


  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script>
    $(function(){
      var socket = io.connect();
      var $groupForm = $('#groupForm');
      var $groupName = $('#group_name');
      var $newGroup = $('#newGroup');
      var $groupId = $('#group_id');
      var $userName = $('#username');

      $HEHEHEHEHEHEgroupForm.submit(function(e) {
        //e.preventDefault();
        socket.emit('create group', $groupName.val(), $groupId.val(), $userName.val());
        
        $.ajax({
          type: 'POST',
          data: {group_name: $groupName.val()},
          url: '/group/create',
          success: function(resp) {
            // alert(resp)
          },
          error: function() {
          }
        });
        $groupName.val('')
      });

      socket.on('new group', function(data) {
        //$newGroup.append('<a href="/post/' + data.groupId + '" class="collection-item"> <span class="badge"> Created By ' + data.userName + ' </span> ' + data.groupName + ' </a>')
      })
    })
  </script>
</html>
